/* Here lies the main colors InkFing uses through all the css files, try to avoid repeating color codes, properties, etc. 
Instead define a property/variable in root to be used across everywhere */
:root {
    --inkFing-background-100: #111213;
    --inkFing-background-200: #1e1e1e;
    --inkFing-background-300: #2a2a2a;
    --inkFing-link: #3388ff;
    --inkFing-primary: #eaeaea;
    --inkFing-secondary: #a0a0a0;
    --inkFing-color-error: #ff4440;
    --inkFing-color-success: #1e7b20;
    --inkFing-color-blue: #201e7b;
    --inkFing-radius: 4px;
}